/* Search Form =================
   ========================*/

.search-form {
  width: 100%;
  margin: 5rem auto;
  padding: 1rem 5rem;
  font-family: inherit;
}

.form-control {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1000px) {
  .search-form {
    position: absolute;
    margin: 0;

    top: 5rem;
    right: 10%;
    width: 33%;
  }
}
