@import "../../Variables.scss";
@import "../../Global.scss";
/*=================
    Header
    ========================*/

.header {
  background-color: $White;
  color: $DarkBlue;
  position: relative;
  .header_fixed {
    background-color: $White;
    position: fixed;
    right: 0;
    left: 0;
    height: 6rem;
    z-index: 1000;
  }
  .nav {
    .brand-logo {
      font-weight: 700;
      font-size: $font-lg;
      background: $LGgreenAndBlue;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: $transtionSecondary;
      &:hover {
        background: $LGblueAndGreen;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .nav-items {
      .nav-member-links {
        display: none;
        color: $DarkBlue;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 3rem;
          width: 0;
          height: 0.3rem;
          background: $LGgreenAndBlue;
          opacity: 0;
          transition: $transtionSecondary;
        }
        &:hover {
          &::after {
            opacity: 1;
            width: 100%;
          }
        }
      }

      .menu-btn {
        cursor: pointer;
        & > span {
          display: block;
          background-color: $DarkBlue;
          width: 2.6rem;
          height: 0.2rem;
          transform-origin: 0.3rem 0.1rem;
          transition: $transtionSecondary;

          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }
        }

        &.open {
          > span:first-child {
            transform: rotate(45deg);
          }
          > span:nth-child(2) {
            opacity: 0;
          }
          > span:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

/*=================
   Menus Component
    ========================*/
.overlay-desktop {
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: $transtionPrimary;
  opacity: 0;
  background: $LGdarkBlueAndWhite;
  overflow-y: scroll;
  visibility: hidden;
  &.open {
    opacity: 0.5;
    visibility: visible;
  }
}
.overlay {
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  width: 100%;
  z-index: 1000;
  transition: $transtionPrimary;
  opacity: 0;
  overflow-y: scroll;
  visibility: hidden;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  .aside {
    z-index: 1100;
    background-color: $White;
    height: fit-content;
    margin: 1rem;
    padding: 3rem 01rem;
    border-radius: 0.5rem;
    transform: translateX(120%);
    transition: $transtionSecondary;
    opacity: 0;
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);

    &.open {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}
/*=================
    End of Menus Component
    ========================*/

/*=================
     DropDown Component
    ========================*/
.dropdown {
  transition: $transtionPrimary;
  border-left: 0rem solid $DarkBlue;
  color: $DarkBlue;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  &:hover {
    border-left: 1rem solid $DarkBlue;
  }
  li {
    padding: 1rem 1.5rem;
    &:hover {
      background-color: $LightGrayishBlue;
    }

    .nav-link {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      transition: $transtionPrimary;
      color: $DarkBlue;

      .icon {
        font-size: $font-lg;
      }
    }
  }
}

/*=================
    End of DropDown Component
    ========================*/

/*=================
    Sub-Menu Component
    ========================*/

.sub-menu {
  li {
    padding: 1rem 1.5rem;
    border-left: 0rem solid $DarkBlue;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    &:hover {
      border-left: 1rem solid $DarkBlue;
      background-color: $LightGrayishBlue;
      transition: $transtionPrimary;
    }

    .nav-link {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      transition: $transtionPrimary;
      color: $DarkBlue;
      padding-left: 01rem;

      .icon {
        font-size: $font-lg;
      }
    }
  }
}
/*=================
    End Of Sub-Menu Component
    ========================*/

/*=================
   End of Header
    ========================*/

//======================================================================
//======================================================================
//======================================================================

/*=================
   Resposive for Desktop
    ========================*/
@media screen and (min-width: 1024px) {
  /*=================
    Header
    ========================*/
  .header {
    .nav {
      .brand-logo {
        font-size: $font-xlg;
      }
      .nav-items {
        display: flex;
        align-items: center;
        .nav-member-links {
          display: flex;
          margin: 0 1rem;
        }

        .menu-btn {
          margin-left: 1rem;
        }
      }
    }
  }

  /*=================
   Menus Component
    ========================*/
  .overlay {
    display: flex;
    justify-content: flex-end;
    // background: transparent;
    width: 30%;
    right: 0;
    left: auto;
    .aside {
      width: 100%;
    }
  }
  /*=================
    End of Menus Component
    ========================*/
}

// ===================================

/*=================
Responsive Code 
*********** Tablet *********
    ========================*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*=================
    Header
    ========================*/
  .header {
    .nav {
      .brand-logo {
        font-size: $font-xlg;
      }
      .nav-items {
        display: flex;
        align-items: center;
        .nav-member-links {
          display: flex;
          margin: 0 1rem;
        }

        .menu-btn {
          margin-left: 1rem;
        }
      }
    }
  }

  /*=================
   Menus Component
    ========================*/

  .overlay {
    .aside {
      margin: 2rem auto;

      width: 70%;
    }
  }

  /*=================
    End of Menus Component
    ========================*/
}
